src/META-INF/wsdl/localhost_8080/WebService/ServiceProductos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ServiceProductos">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/WebService/ServiceProductos?xsd=1"/>
</xsd:schema>
</types>
<message name="SaveProducto">
<part name="parameters" element="tns:SaveProducto"/>
</message>
<message name="SaveProductoResponse">
<part name="parameters" element="tns:SaveProductoResponse"/>
</message>
<message name="UpdateProducto">
<part name="parameters" element="tns:UpdateProducto"/>
</message>
<message name="UpdateProductoResponse">
<part name="parameters" element="tns:UpdateProductoResponse"/>
</message>
<message name="DeleteProducto">
<part name="parameters" element="tns:DeleteProducto"/>
</message>
<message name="DeleteProductoResponse">
<part name="parameters" element="tns:DeleteProductoResponse"/>
</message>
<message name="SelectAllProductos">
<part name="parameters" element="tns:SelectAllProductos"/>
</message>
<message name="SelectAllProductosResponse">
<part name="parameters" element="tns:SelectAllProductosResponse"/>
</message>
<portType name="ServiceProductos">
<operation name="SaveProducto">
<input wsam:Action="http://WebServices/ServiceProductos/SaveProductoRequest" message="tns:SaveProducto"/>
<output wsam:Action="http://WebServices/ServiceProductos/SaveProductoResponse" message="tns:SaveProductoResponse"/>
</operation>
<operation name="UpdateProducto">
<input wsam:Action="http://WebServices/ServiceProductos/UpdateProductoRequest" message="tns:UpdateProducto"/>
<output wsam:Action="http://WebServices/ServiceProductos/UpdateProductoResponse" message="tns:UpdateProductoResponse"/>
</operation>
<operation name="DeleteProducto">
<input wsam:Action="http://WebServices/ServiceProductos/DeleteProductoRequest" message="tns:DeleteProducto"/>
<output wsam:Action="http://WebServices/ServiceProductos/DeleteProductoResponse" message="tns:DeleteProductoResponse"/>
</operation>
<operation name="SelectAllProductos">
<input wsam:Action="http://WebServices/ServiceProductos/SelectAllProductosRequest" message="tns:SelectAllProductos"/>
<output wsam:Action="http://WebServices/ServiceProductos/SelectAllProductosResponse" message="tns:SelectAllProductosResponse"/>
</operation>
</portType>
<binding name="ServiceProductosPortBinding" type="tns:ServiceProductos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SaveProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectAllProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceProductos">
<port name="ServiceProductosPort" binding="tns:ServiceProductosPortBinding">
<soap:address location="http://localhost:8080/WebService/ServiceProductos"/>
</port>
</service>
</definitions>