src/META-INF/wsdl/localhost_8080/WebService/ServiceProductos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="DeleteProducto" type="tns:DeleteProducto"/>

<xs:element name="DeleteProductoResponse" type="tns:DeleteProductoResponse"/>

<xs:element name="SaveProducto" type="tns:SaveProducto"/>

<xs:element name="SaveProductoResponse" type="tns:SaveProductoResponse"/>

<xs:element name="SelectAllProductos" type="tns:SelectAllProductos"/>

<xs:element name="SelectAllProductosResponse" type="tns:SelectAllProductosResponse"/>

<xs:element name="UpdateProducto" type="tns:UpdateProducto"/>

<xs:element name="UpdateProductoResponse" type="tns:UpdateProductoResponse"/>

<xs:complexType name="DeleteProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:productos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productos">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="id_proveedor" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:string" minOccurs="0"/>
<xs:element name="proveedor_nombre" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectAllProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectAllProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:productos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaveProducto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="id_proveedor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaveProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="id_proveedor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>