xml-resources/web-service-references/ServiceClientes/wsdl/localhost_8080/WebService/ServiceClientes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="DeleteCliente" type="tns:DeleteCliente"/>

<xs:element name="DeleteClienteResponse" type="tns:DeleteClienteResponse"/>

<xs:element name="InsertCliente" type="tns:InsertCliente"/>

<xs:element name="InsertClienteResponse" type="tns:InsertClienteResponse"/>

<xs:element name="SelectAllClientes" type="tns:SelectAllClientes"/>

<xs:element name="SelectAllClientesResponse" type="tns:SelectAllClientesResponse"/>

<xs:element name="UpdateCliente" type="tns:UpdateCliente"/>

<xs:element name="UpdateClienteResponse" type="tns:UpdateClienteResponse"/>

<xs:complexType name="UpdateCliente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteCliente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:clientes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientes">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectAllClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SelectAllClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:clientes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertCliente">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>